In [13]:
import pandas as pd
import os
import re

In [2]:
# CONSTANTS
DATA_PATH = "D:/10kgerdataset/"
TRAIN_CSV = "train.csv"
TEST_CSV = "test.csv"

In [8]:
try:
    df_train = pd.read_csv(os.path.join(DATA_PATH, TRAIN_CSV))
    df_test = pd.read_csv(os.path.join(DATA_PATH, TEST_CSV))
except FileNotFoundError:
    print("File was not found at specific location.")
    raise

In [6]:
# preprocessing

                                                text       label
0  Störerhaftung in Deutschland bringt Anschlussi...         Web
1  Experten machen Abwassersystem und Urbanisieru...    Panorama
2  Weltranglisten-Sechster machte gegen Niederöst...       Sport
3  Dem weltgrößten Ziegelhersteller macht die sch...  Wirtschaft
4  Eine Wahlniederlage in Oberösterreich ist für ...      Inland

In [11]:
df_train["text"][0].lower()

'angesichts des zustroms von flüchtlingen sollten die baulichen vorschreibungen und damit die wohnungskosten gesenkt werden. wien – man habe in der vergangenheit immer mit steigenden auflagen gebaut, substandard-wohnungen gebe es keine mehr, aber man brauche mehr preisgünstige wohnungen für bezieher von niedrigsteinkommen, sagte der chef der s-bausparkasse josef schmidinger am montagabend vor journalisten. auch vor dem hintergrund der nach österreich kommenden flüchtlinge. derzeit teilen sich vier bis fünf menschen eine wohnung, die 600 euro im monat koste, dass sei keine lösung. wir brauchen standards, die sich die leute leisten können. in niederösterreich kostet der quadratmeter bautechnisch 2.300 euro, das gehe aber auch um 1.600 euro ohne die hohen auflagen, so schmidinger. es seien daher kompromisse gefordert, etwa bei der ausstattung. man brauche wohnungen, die bei einer größe von 60 bis 65 quadratmetern 400 bis 500 euro netto kosteten. einsparpotenzial gäbe es beispielsweise bei der fensterqualität, garagen, lift, stiegenhäusern oder anderen ausstattungen. in österreich werden heuer rund 50.000 wohnungen gebaut. man schiebe aber seit jahren einen mangelbedarf von insgesamt rund 30.000 wohnungen vor sich her. die s-bausparkasse hat heuer bis september mehr neue kredite vergeben. die zahl der neuen bausparverträge sinkt dagegen heuer, wegen des wegfalls der bank austria als vertriebspartner, so schmidinger am montagabend vor journalisten. der ausleihungsbestand ist rückläufig, nicht zuletzt weil die kunden kredite vorzeitig zurückzahlen. wir sehen eine nachfrage nach krediten, die österreicher sind bereit sich zu verschulden, aber angesichts der niedrigstzinsen eine verhaltene bereitschaft zum sparen. insgesamt seien die spareinlagen der privaten haushalte rückläufig gewesen, die kreditnachfrage gestiegen. per ende august seien die spareinlagen der privaten bei 219 mrd. euro und damit um 1,8 prozent unter dem vorjahreswert gelegen. die unternehmen und die öffentliche hand  sparten dagegen mehr, so schmidinger. in der bauwirtschaft sei man im wohnbau eher ausgelastet, im tiefbau sei die zurückhaltung der öffentlichen hand bei infrastrukturinvestitionen spürbar. bei der s-bausparkasse legte die finanzierungsleistung von jänner bis september um 3,2 prozent auf 638 mio. euro zu, die zugesagte darlehenssumme um 22,2 prozent auf 448 mio. euro. die zahl der neuverträge ging um 16 prozent auf rund 168.000 stück zurück. bis jahresende rechnet die s-bausparkasse mit rund 240.000 neuabschlüssen, das wären um zehn prozent weniger als im jahr davor. ankurbeln will man die neuabschlüsse auch mit einer herbstaktion. neue bausparer erhalten eine vom maler christian ludwig attersee gestaltete uhr.. allein aufgrund der kooperation mit attersee rechnet die s-bausparkasse mit mehr als 50.000 verträgen.'

In [57]:
def remove_punctuation(document: str) -> str:
    return re.sub(r'[^\w\s]', '', document)

def remove_numbers(document: str) -> str:
    return re.sub(r'$\d+\W+|\b\d+\b|\W+\d+$', '', document)

def map_umlaut(document: str) -> str:
    umlaut_mapping = {
        "ß": "b",
        "ü": "u",
        "ä": "a",
        "ö": "o",
        "ë": "e",
    }
    for k, v in umlaut_mapping.items():
        document = document.replace(k, v)
    return document

In [59]:
def run_pre_processing_pipeline(df):
    df["text"] = df["text"].str.lower()
    df["label"] = df["label"].str.lower()
    
    df["text"] = df["text"].apply(text_pre_processing)
    df["text"] = df["text"].apply(remove_numbers)
    df["text"] = df["text"].apply(map_umlaut)
    return df

In [60]:
a = run_pre_processing_pipeline(df_test)

In [61]:
a

                                                   text          label
0     storerhaftung in deutschland bringt anschlussi...            web
1     experten machen abwassersystem und urbanisieru...       panorama
2     weltranglistensechster machte gegen niederoste...          sport
3     dem weltgrobten ziegelhersteller macht die sch...     wirtschaft
4     eine wahlniederlage in oberosterreich ist fur ...         inland
...                                                 ...            ...
2051  wiener setzten sich gegen gaste aus tschechien...          sport
2052  heftige kampfe an der grenze riadsanaa  die ho...  international
2053  mischkonzern damian wanda ubernimmt hollywoods...     wirtschaft
2054  hillary clinton kritisiert militarakademie weg...       panorama
2055  lenny abrahamsons filmdrama erkundet eine mutt...         kultur

[2056 rows x 2 columns]

In [46]:
b = "Ä"
b = b.lower()

In [58]:
map_umlaut(b)

'a'

In [51]:
umlaut_mapping.keys()

dict_keys(['ß', 'ü', 'ä', 'ö', 'ë'])

In [52]:
b in umlaut_mapping.keys()

True